.content {
  background-color: white;
  min-height: 100%;
  z-index: -1;
}

#content1 {
  #logos {
    display: block;
    filter: grayscale(100%);
    margin: 0 auto;
    width: 80%;
  }
}

#content2 {
  height: 400%;
  position: relative;
  z-index: 10;
  #ball {
    position: absolute;
    top: 0;
    right: 200px;

  }
}

#content3 {
  #container {
    background-color: black;
    height: 100%;
    margin: 0 auto;
    width: 65%;
  }
}