#modal {
  background-color: black;
  position: fixed;
  top: 0;
  height: 100%;
  transition: all .7s ease-in;

  height: 100%;
  width: 100%;
  z-index: 1000;
}

#closeModal {
  color: white;
  line-spacing: 2;
  margin: 10px;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  &:hover {
    color: $link-color;
  }
}

#modal.loaded {
  -webkit-animation: fadein 1s; 
     -moz-animation: fadein 1s; 
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; transform: scale(1.1);}
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; transform: scale(1.1);}
    to   { opacity: 1; transform: scale(1);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; transform: scale(1.1);}
    to   { opacity: 1; transform: scale(1);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; transform: scale(1.1);}
    to   { opacity: 1; transform: scale(1);}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; transform: scale(1.1);}
    to   { opacity: 1; transform: scale(1);}
}